@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

body, * {
  cursor: none !important;
}






#cursor {
  transition:
    width 0.28s cubic-bezier(0.25, 0.1, 0.25, 1),
    height 0.28s cubic-bezier(0.25, 0.1, 0.25, 1),
    border-radius 0.28s cubic-bezier(0.25, 0.1, 0.25, 1),
    opacity 0.28s cubic-bezier(0.25, 0.1, 0.25, 1),
    background 0.28s cubic-bezier(0.25, 0.1, 0.25, 1),
    transform 0.28s cubic-bezier(0.25, 0.1, 0.25, 1);
  
  will-change: width, height, border-radius, opacity, transform;
}

#cursor.grow {
  transform: scale(3);
}


.cursor-copy {
  width: auto !important;
  height: 70px !important;
  padding: 12px 28px;
  border-radius: 80px !important;
  background: black !important;
  color: white !important;
  backdrop-filter: none !important;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 800ms ease-out;
}


.cursor-shrink {
  transform: scale(0.6);
  transition: transform 120ms ease-out;
}


.block {
  transition: x 0.25s ease, y 0.25s ease;
}


.no-snap {
  scroll-snap-type: none !important;
}

